<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--
      Thay đổi connection string theo môi trường của bạn.
      Windows Authentication (Trusted):
        Server=.;Database=QuanLyNhanVien;Trusted_Connection=True;
      SQL Server Authentication:
        Server=.\SQLEXPRESS;Database=QuanLyNhanVien;User Id=sa;Password=YourPassword;
    -->
    <add name="QuanLyNhanVienDB"
         connectionString="Server=.;Database=QuanLyNhanVien;Trusted_Connection=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MaxLoginRetry"    value="3" />
    <add key="OtpExpireMinutes" value="10" />
    <add key="AppVersion"       value="1.0.0" />
  </appSettings>
</configuration>
